@font-face {
  font-family: "Karrik";
  src: url("./fonts/Karrik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Karrik";
  src: url("./fonts/Karrik-Italic.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-inconsolata: "Karrik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

code,
pre,
h1,
h2,
h3,
h4,
h5,
h6,
.monospace {
  font-family: var(--font-inconsolata);
}
